{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "coverage",
    "dist"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["simple-import-sort"],
  "rules": {
    "prettier/prettier": ["error", {
      "useTabs": false,
      "tabWidth": 2,
      "printWidth": 120
    }],

    "no-console": ["error"],
    "no-constant-condition": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unsafe-declaration-merging" :"off",
    "@typescript-eslint/no-explicit-any": "off",
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          [
            "^@?\\w"
          ],
          [
            "^(game-engine)(/.*|$)"
          ],
          [
            "^\\."
          ],
          [
            "^\\u0000"
          ]
        ]
      }
    ]
  }
}
