body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #000;
}

#container {
	position: relative;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

#inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.game,
.scene-wrapper,
.storage {
	width: 100%;
	height: 100%;
}

.game {
	&.grabbing * {
		cursor: grabbing !important;
	}
}

.storage {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;

	g:not(.dragging) {
		pointer-events: auto;
	}
}

.scene {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.item {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	position: absolute;

	&:hover {
		cursor: pointer;
	}
}

.clickable {
	cursor: pointer;
}

.searchable {
	cursor: zoom-in !important;
}

.flashlight {
	position: absolute;
	top: 0;
	left: 0;
	width: 5000px;
	height: 5000px;
	background-image: radial-gradient( circle, transparent 200px, #000 201px );
	pointer-events: none;
}

#hall-paint-large {
	transition: transform linear .2s;
}
